<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>::IBEROTEC::</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

<script type="text/javascript" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/app/Module.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    baseUrl = /*[[@{/}]]*/
    /*]]>*/
</script>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class='panel panel-default'>
				<div class='panel-heading'>
					<h4 class='panel-title'>
						<a data-toggle='collapse' data-parent='#accordion' href='#collapse10'> <i class="glyphicon glyphicon-hand-up"></i>
							Información general de prácticas
						</a>
					</h4>
				</div>
				<div id='collapse10' class='panel-collapse collapse in'>
					<div class='panel-body' id ="divPractice"></div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class='panel panel-default'>
				<div class='panel-heading'>
					<h4 class='panel-title'>
						<a data-toggle='collapse' data-parent='#accordion' href='#collapse20'><i class="glyphicon glyphicon-hand-up"></i>
							Registro de prácticas</a>
					</h4>
				</div>
				<div id='collapse20' class='panel-collapse collapse in'>
					<div class='panel-body'>
						<div class="col-xs-12" id="tbldata"></div>
						<div align="right">
							<button type='button' data-toggle='modal' class="btn btn-success"
								data-target="#modalDetallePracticas">Registrar
								Modalidad de Práctica
							</button>
						</div>
						<hr>
						<div class="col-md-12" id="detalledata"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>